head
  meta(http-equiv = 'x-ua-compatible' content = 'ie=edge')
  meta(charset="utf-8")
  meta(name = 'viewport' content = 'width=device-width initial-scale=1')

  title #{active.title} - #{conference.short} #{conference.year}

  meta(name = 'keywords',   content = `${conference.title}, ${conference.short} ${conference.year}`)
  meta(name = 'description' content = `${conference.short} ${conference.year}`)
  meta(name = 'viewport',   content = 'width=device-width, initial-scale=1.0')
  
  link(rel = 'stylesheet' href = require('../css/styles.scss'))
