meta(charset="UTF-8")
title #{activePage.title} - The #{conf.number}#{conf.ordinal} #{conf.title} (#{conf.short})
meta(name="keywords", content=`${conf.title}, ${conf.short}`)
meta(name="description" content= conf.short)
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(rel="icon", type="image/png", href="icon/favicon_32.png", sizes="32x32")
link(rel="icon", type="image/png", href="icon/favicon_128.png", sizes="128x128")
link(rel="icon", type="image/png", href="icon/favicon_256.png", sizes="256x256")
link(rel="stylesheet", href="style.css")
