.header
    h1.title
        a(href="index.html")
            | The #{conf.number}
            sup #{conf.ordinal}
            |  #{conf.title} (#{conf.short} #{conf.year})
    .subtitle #{conf.location}, #{conf.date} #{conf.year}
